a {
    color: #00b5ad;
}

a.disabled {
    color: gray;
}

.nav-item {
  border-right: 1px solid silver;
  padding-left: 15px;
  padding-right: 15px;
}

.nav-item:last-child {
  border: none;
}

.navbar {
  border-bottom: 1px solid grey;
}

#upper-img{
    height: 300px;
    width: 100%;
}


#lower-img{
  height: 150px;
  width: 100%;
}

.top-buffer {
  margin-top:35px;
}

.btn-info {
    margin-bottom: 10px;
    background-color: #00b5ad;
    border-color: #00b5ad;
}

.footer{
  border-top: 1px solid grey;
  margin-top: 10px;
}

#avaiableS{
  top: 30px;
  margin-bottom: 30px;
}

fieldset {
  border: 1px groove black !important;
  padding: 0 15px 15px 15px !important;
}

#Mahlzeiten_Bild{
    height: 300px;
    width: 100%;
}

.smallImg {
    height: 60%;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.lower_10px_padding{
    padding-bottom: 10px;
}
